PORT=4001
NODE_ENV=development

DB_HOST=products-db
DB_PORT=5432

POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
POSTGRES_DB=productsdb

RABBITMQ_URL=amqp://user:password@rabbitmq:5672
RABBITMQ_QUEUE=products_queue

REDIS_HOST=redis
REDIS_PORT=6379